html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.box .header {
    flex: 0 1 auto;
}
.box #mcmap {
    flex: 1 1 auto;
    position: relative;
}

body {
    font-family: 'Rubik', sans-serif;
}
.header {
    background-color: #0f0f0f;
    border-bottom: 4px solid #5e2627;
    color: #e0e0e0;
    font-size: 17px;
}

.header.header-disabled { 
    display: none;
}

.header-part {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    margin: 0px 12px;
}

.header-part.server-social {
    padding: 20px;
    background-color: #1c1c1c;
    color: #8c94e6;
}

.header-part.server-social:hover, .header-part.server-social:active {
    background-color: #9f9f9f;
    color: #1c1c1c;
}

.header-part strong {
    font-size: 20px;
}

.uv-logo-name {
    font-size: 40px;
}
.uv-logo {
    height: 60px;
    border-left: 10px solid #191919;
    border-right: 10px solid #191919;
}

.dynmap .dynmap-link {
    display: none;
}

.dynmap .crosshair {
    mix-blend-mode: difference;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    position: absolute;
    background-color: #fff;
    z-index: 6;
    pointer-events: none;
}

.dynmap .xcrosshair {
    height: 1px;
    width: 100%;
}

.dynmap .ycrosshair {
    width: 1px;
    height: 100%;
}

.dynmap .coord-control-center .coord-control-value {
    color: #424fd5;
    text-decoration: underline;
    font-size: 15px;
}

.dynmap .coord-control-center {
    cursor: pointer;
}

.dynmap .compass {
    display: none;
}

.link {
    color: #fff;
    border: none;
    padding: 5px 10px;

    background-color: rgba(28, 28, 28, 0.12);
    color: #545fd9;
    text-decoration: underline;
}

.tools-buttons.sidebar-pinned {
    right: 230px;
}

.tools-buttons {
    z-index: 99999;
    position: absolute;
    bottom: 5px;
    right: 30px;
    font-size: 19px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
}

.tools-buttons > * {
    margin: 10px 0px;
}

.tools-button {
    color: #fff;
    border: none;
    display: block;
    font-size: inherit;
    padding: 5px 10px;

    background-color: #1c1c1c;
    color: #8c94e6;
    text-decoration: underline;
}
.tools-button:active, .tools-button:hover {
    background-color: #9f9f9f;
    color: #1c1c1c;
}

.element-toggle-preview {
  margin: 10px;
  padding: 10px;
  border: 1px solid #a0a0a0;
}

.mw-parser-output {
    max-height: 700px;
    overflow-y: scroll;
    width: 600px;
}

.jsPanel .jsPanel-content {
    padding: 5px;
}

.copy-coordinates-window button {
  width: 140px;
  height: 32px;
}

.copy-coordinates-window input[type=text] {
  width: 216px;
  height: 32px;
}

@media screen and (min-device-width: 640px) {
    .dynmap .hitbar, .dynmap .sidebar {
        transition: all 0.3s;
    }
}

.dynmap .sidebar .pin {
    width: 100px !important;
    background-repeat: no-repeat;
}

.dynmap .sidebar .pin::before {
    content: "Pin this sidebar";
    background-color: #1c1c1c;
    color: #8c94e6;
    text-decoration: underline;
    margin-left: 17px;
}

@media screen and (max-height: 450px) {
    .header {
        display: none;
    }
}

@media screen and (max-width: 626px) {
    .header-part .server-info-label {
        display: none;
    }
    .header-part .server-info {
        font-size: 20px;
        font-weight: bold;
    }
}
@media screen and (max-width: 845px) {
    .header-part.uv-logo-name {
        display: none;
    }

    .header-part.server-info-version {
        display: none;
    }
    .header-part.uv-logo {
        display: inline-block;
    }

    .header-info-container {
        display: inline-block;
    }
    .header-part.server-social, .header-part.server-info {
        width: 100%;
        padding: 4px;
    }
    .header-part.server-social {
        padding: 7px;
        font-size: 19px;
        border-bottom: 4px solid #4c4c4c;
        margin: 0px;
        text-align: center;
    }
    .header-part.server-social:last-child {
        border-bottom: none;
    }
}

@media screen and (max-width: 1440px) {
    .server-open-source {
        display: none;
    }
}

@media screen and (min-width: 845px) and (max-width: 1280px) {
    .header-separator {
        display: block;
    }
    .header-part.server-social {
        width: 33.333%;
        margin: 0px;
        padding: 10px;
        border-left: 4px solid #0f0f0f;
        border-right: 4px solid #0f0f0f;
        text-align: center;
    }
}
