html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
button {
    color: inherit;
    font: inherit;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.box .header {
    flex: 0 1 auto;
}
.box #mcmap {
    flex: 1 1 auto;
    position: relative;
}

body {
    font-family: "Rubik", sans-serif;
}
.header {
    background-color: #0f0f0f;
    border-bottom: 4px solid #5e2627;
    color: #e0e0e0;
    font-size: 17px;
}

.header.header-disabled {
    display: none;
}

.header-part {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    margin: 0px 12px;
}

.header-part.server-social {
    padding: 20px;
    background-color: #1c1c1c;
    color: #8c94e6;
}

.header-part.server-social:hover,
.header-part.server-social:active {
    background-color: #9f9f9f;
    color: #1c1c1c;
}

.header-part strong {
    font-size: 20px;
}

.uv-logo-name {
    font-size: 40px;
}
.uv-logo {
    height: 60px;
    border-left: 10px solid #191919;
    border-right: 10px solid #191919;
}

.dynmap .dynmap-link {
    display: none;
}

.dynmap .crosshair {
    mix-blend-mode: difference;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    position: absolute;
    background-color: #fff;
    z-index: 6;
    pointer-events: none;
}

.dynmap .xcrosshair {
    height: 1px;
    width: 100%;
}

.dynmap .ycrosshair {
    width: 1px;
    height: 100%;
}

.dynmap .coord-control-center .coord-control-value {
    color: #424fd5;
    text-decoration: underline;
    font-size: 15px;
}

.dynmap .coord-control-center {
    cursor: pointer;
}

.dynmap .compass {
    display: none;
}

.link-container {
    margin: 10px 0px;
}

.link {
    cursor: pointer;
    color: #fff;
    border: none;
    display: inline-block;
    padding: 5px 10px;

    background-color: rgba(28, 28, 28, 0.12);
    color: #545fd9;
    text-decoration: underline;
}

.tools-buttons.sidebar-pinned {
    right: 230px;
}

.tools-buttons {
    z-index: 500;
    position: absolute;
    bottom: 5px;
    right: 30px;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 12px;
}

.tools-buttons > * {
    margin: 7px 0px;
}

.tools-button {
    color: #fff;
    border: none;
    display: block;
    font-size: inherit;
    padding: 5px 10px;

    background-color: #1c1c1c;
    color: #8c94e6;
    text-decoration: underline;
}
.tools-button:active,
.tools-button:hover {
    background-color: #9f9f9f;
    color: #1c1c1c;
}

.element-toggle-preview {
    margin: 10px;
    padding: 10px;
    border: 1px solid #a0a0a0;
}

.mw-parser-output {
    max-height: 700px;
    overflow-y: scroll;
    width: 600px;
}

.jsPanel .jsPanel-content {
    padding: 5px;
}

.copy-coordinates-window button {
    width: 140px;
    height: 32px;
}

.copy-coordinates-window input[type="text"] {
    width: 216px;
    height: 32px;
}

@media screen and (min-device-width: 640px) {
    .dynmap .hitbar,
    .dynmap .sidebar {
        transition: all 0.3s;
    }
}

.dynmap .sidebar .pin {
    width: 100px !important;
    background-repeat: no-repeat;
}

.dynmap .sidebar .pin::before {
    content: "Pin this sidebar";
    background-color: #1c1c1c;
    color: #8c94e6;
    text-decoration: underline;
    margin-left: 17px;
}

@media screen and (max-height: 450px) {
    .header {
        display: none;
    }
}

@media screen and (max-width: 626px) {
    .header-part .server-info-label {
        display: none;
    }
    .header-part .server-info {
        font-size: 20px;
        font-weight: bold;
    }
}
@media screen and (max-width: 845px) {
    .header-part.uv-logo-name {
        display: none;
    }

    .header-part.server-info-version {
        display: none;
    }
    .header-part.uv-logo {
        display: inline-block;
    }

    .header-info-container {
        display: inline-block;
    }
    .header-part.server-social,
    .header-part.server-info {
        width: 100%;
        padding: 4px;
    }
    .header-part.server-social {
        padding: 7px;
        font-size: 19px;
        border-bottom: 4px solid #4c4c4c;
        margin: 0px;
        text-align: center;
    }
    .header-part.server-social:last-child {
        border-bottom: none;
    }
}

@media screen and (max-width: 1440px) {
    .server-open-source {
        display: none;
    }
}

@media screen and (min-width: 845px) and (max-width: 1316px) {
    .header-separator {
        display: block;
    }
    .header-part.server-social {
        width: 33.333%;
        margin: 0px;
        padding: 10px;
        border-left: 4px solid #0f0f0f;
        border-right: 4px solid #0f0f0f;
        text-align: center;
    }
}

.coreprotect-delta .CodeMirror {
    border: 2px solid #c4c4c4;
    width: 50%;
    min-width: 300px;
}

.CodeMirror,
.pre {
    font-family: "Inconsolata", "Consolas", monospace;
}

.coreprotect-log {
    font-size: 15px;
    border-top: 1px solid #e0e0e0;
    margin-top: 8px;
}

.warning {
    background-color: #f178a6;
    padding: 10px;
    display: inline-block;
}

.staff-logs-table {
    border-collapse: collapse;
    font-family: "JuliaMono", "Inconsolata", "Consolas", monospace;
}
.staff-logs-table td {
    border: 1px solid #9f9f9f;
    padding: 10px;
}
.staff-logs-table tr:first-child td {
    border-top: 0;
}
.staff-logs-table tr td:first-child {
    border-left: 0;
}
.staff-logs-table tr:last-child td {
    border-bottom: 0;
}
.staff-logs-table tr td:last-child {
    border-right: 0;
}

input[type="range"] {
    width: 100%;
    margin: 7.15px 0;
    background-color: transparent;
    -webkit-appearance: none;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    background: #ffc9e0;
    border: 0.2px solid #c0c0c0;
    border-radius: 1.3px;
    width: 100%;
    height: 7.7px;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
    margin-top: -7.35px;
    width: 13px;
    height: 22px;
    background: #fffbff;
    border: 1px solid #d4d8dc;
    border-radius: 4px;
    cursor: pointer;
    -webkit-appearance: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #ffe3ef;
}
input[type="range"]::-moz-range-track {
    background: #ffc9e0;
    border: 0.2px solid #c0c0c0;
    border-radius: 1.3px;
    width: 100%;
    height: 7.7px;
    cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
    width: 13px;
    height: 22px;
    background: #fffbff;
    border: 1px solid #d4d8dc;
    border-radius: 4px;
    cursor: pointer;
}
